html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#logo {
    width: 30%;
    min-width: 200px;
    padding: 2%
}

#container {
    background-color: #fffbfd;
}

body {
    font-family: 'Quicksand', sans-serif;
}

h1{
    color: #d30176;
    font-weight: 700;
    letter-spacing:  .2rem;
    text-align: center;
    font-size: 1.6rem;
}

h2 {
    color: #6d1f7e;
    font-weight: 500;
    text-align: center;
    font-size: 1.2rem;
}
