html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#logo {
    width: 30%;
    min-width: 200px;
    padding: 2%
}

#container {
}

body {
    background-color: #fffbfd;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding: 0px 5px;
}

h1{
    color: #d30176;
    font-weight: 700;
    letter-spacing:  .2rem;
    font-size: 1.6rem;
}

h2 {
    color: #6d1f7e;
    font-weight: 500;
    font-size: 1.2rem;
}

p {
    color: #411135;
    font-weight: 400;
    font-size: .8rem;
    line-height: 1.6rem;
    padding: 0px 30px;
}

a {
    color: #50cbc1;
    font-weight: 600;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: #411135;
}

.button {
    background-color: #50cbc1;
    color: #fffbfd;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: .2rem;
    padding: 5px 20px;
    border-radius: 2px;
    box-shadow: 1px 1px 10px  #b7b7b7;
}

.button:hover {
    background-color: #47b7ae;
}

@media all and (min-width:900px) {
    #container {
        width: 900px;
        display: block;
        margin: auto;
    }
}
